.main {
    padding-top: 10vh;
    flex: 1;
    min-width: 320px;
    max-width: 780px;
    margin: 0 20px;
}

.hidden {
    display: none;
}

.result {
    padding-top: 20%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 15%;
    min-height: 160px;
    margin: 0 20px;
}

.name {
    color: rgb(148 145 145);
    border: none;
}

.elements {
    display: flex;
    flex-direction: column;
}

.elements__block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    border-bottom: dashed 1px #821111;
    margin-bottom: 8px;
}

.form {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button {
    border: none;
    background-color: #821111;
    color: white;
    height: 40px;
    border-radius: 5px;
    width: 100%;
    margin: 5px;
}

.button:disabled {
    background-color: #444343;
}

.buttonStart {
    border: none;
    background-color: #821111;
    color: white;
    height: 20px;
    border-radius: 5px;
    height: 40px;
    min-width: 100%;
    margin: 15px auto 0;
}

.birthdayName {
    display: flex;
    flex-direction: column;
}

input[type=radio] {
    border: 0px;
    min-width: 20px;
    min-height: 20px;
}

.start-p {
    text-align: center;
    margin: 15px 0 20px 0;
}

@media screen and (max-width: 900px) {
    .main {
        margin: 0 40px;

    }
}

@media screen and (max-width: 750px) {


    .result {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    .main {
        margin: 0 20px;
    }

    .elements {
        padding: 0;
    }

    input[type=radio] {
        border: 0px;
        min-width: 15px;
        min-height: 15px;
        margin: 0 0 0 5px;

    }
}

@media screen and (max-width: 350px) {
    .main {
        font-size: 14px;

    }

    .elements {
        max-width: 80%;
        margin: 0 auto;
    }

    .result {
        font-size: 14px;
    }

    .buttonStart {
        width: 90%;
    }


}